.pagination {
  text-align: center;
  justify-content: center;
  border: 0.05rem solid black;
  border-radius: 0.5rem;
  padding-top: 5px;

  .pag-nav {
    color: #000000;
    font-size: 2rem;
    cursor: pointer;
  }

  .page-number {
    padding: 0.25rem;
  }
}
